@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--sage1);
    --foreground: var(--sage11);

    --muted: var(--sage3);
    --muted-foreground: var(--sage11);

    --popover: var(--sage2);
    --popover-foreground: var(--sage11);

    --card: var(--sage2);
    --card-foreground: var(--sage11);

    --border: var(--sage7);
    --input: var(--sage7);

    --primary: var(--teal8);
    --primary-foreground: var(--teal12);

    --secondary: var(--tomato9);
    --secondary-foreground: var(--sage12);

    --accent: var(--lime8);
    --accent-foreground: var(--sage12);

    --destructive: var(--red8);
    --destructive-foreground: var(--red12);

    --ring: var(--sage8);

    --radius: 0.5rem;
  }
}

* {
  @apply border-border;
}

:root {
  @apply bg-background text-foreground;

  font-family: "Figtree", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0.5rem;
}

#main {
  min-height: 98dvh;

  display: grid;
  gap: 0.2rem;
  grid-template-rows: auto 1fr 2rem;
  grid-template-columns: minmax(60%, auto) 1fr;
  grid-template-areas:
    "header header"
    "canvas sidebar"
    "footer footer";
}

#header {
  grid-area: header;
}

#canvas-wrapper {
  position: relative;
  grid-area: canvas;
  display: flex;
  align-items: center;
  justify-content: center;
}

#p5root {
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
}

#sidebar-right {
  grid-area: sidebar;
  min-width: 25vw;

  display: flex;
  flex-direction: column;
}

#footer {
  grid-area: footer;
}
